<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/about.css">

    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    
    <div class="navbar">
        <a  href="/">Home</a>
        <a class="active" href="/about">About</a>
        <a href="https://www.linkedin.com/in/shashank-kumar-9519a9175/">Contact</a>        
      </div>
      
<header>
    <h2>TinyFy and its Technology</h2>
  </header>
      <section>

      <article>
        <p>It is an exhibition project  for shortnening URL,while taking care of scalibility and distribution and correctness </p>
      
        <h1>Technology used</h1>
        <p>
            <a href="https://nodejs.dev/learn/making-http-requests-with-nodejs">Nodejs </a> along with <a href="https://expressjs.com/">Express</a> was used for server side programming.
        </p>
        <h1>Databases and caching</h1>
        <p><a href="https://www.mongodb.com/cloud/atlas/lp/try2-in?utm_source=google&utm_campaign=gs_apac_india_search_brand_atlas_desktop&utm_term=mongdb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=6501677905&gclid=Cj0KCQjwqp-LBhDQARIsAO0a6aJ91fAlhdY1xO9HkYWK_PUSCLsd9QYDHk6vbcjVti-DvC9W7zh8s8QaAhy4EALw_wcB">MongoDB</a>(No Sql) is used as database for this project
    along with <a href="https://redis.io/">Redis</a> for caching. Caching helped to improve query results upto 10 times for small databases however it can improve querying complexity even by 1000 times in case of big databses.    
    <h1>Approach and future plans</h1>
    <p>Currently it is working on  non linear counter based approach however in future  <a href="https://zookeeper.apache.org/">Zookeeper</a> will be implmented to make it scalable and distributed</p>
</p>
        
              </article>
</section>



</body>
</html>