<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/about.css">

    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    
    <div class="navbar">
        <a  href="/">Home</a>
        <a class="active" href="/about">About</a>
        <a href="https://www.linkedin.com/in/shashank-kumar-9519a9175/">Contact</a>        
      </div>
      
<header>
    <h2>TinyFy and its Technology</h2>
  </header>
      <section>

      <article>
        <p>It is an exhibition project for shortening URLs while taking care of scalability, distribution, and correctness
        </p>
      
        <h1>Technology used</h1>
        <p>
            <a href="https://nodejs.dev/learn/making-http-requests-with-nodejs">Node.js </a> along with <a href="https://expressjs.com/">ExpressJs</a> was used for server-side programming.
        </p>
        <h1>Databases and caching</h1>
        <p><a href="https://www.mongodb.com/cloud/atlas">MongoDB</a>(No SQL) is used as database for this project
    along with <a href="https://redis.io/">Redis</a> for caching. Caching helped to improve query results up to 10 times for small databases however it can improve querying complexity even by 1000 times in the case of big databases.    
    <h1>Approach and future plans</h1>
    <p>Currently, it is working on nonlinear counter-based approach however in the future <a href="https://zookeeper.apache.org/">Zookeeper</a> will be implemented to make it scalable and distributed</p>
</p>
        
              </article>
</section>



</body>
</html>